html {
    background-color: #121213;
    color: #ffffff;
    font-family: sans-serif;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #3a3a3c;
    padding: 3px;
    margin: 0;
}

header {
    margin-bottom: 6px;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#char-keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#keyboard button {
    height: 58px;
    line-height: 60px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    display: inline-block;
    background-color: #818384;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 125%;
    text-align: center;
    border: none;
}

#char-keys button {
    width: 43px;
}

#ctrl button {
    padding-left: 16px;
    padding-right: 16px;
}

#guesses {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

table {
    border-spacing: 5px;
}

td {
    border: 2px solid #565758;
    width: 56px;
    height: 56px;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

td:empty {
    border: 2px solid #3a3a3c;
}

.yes {
    background-color: #538d4e;
    border: 2px solid #538d4e;
}

.close {
    background-color: #b59f3b;
    border: 2px solid #b59f3b;
}

.no {
    background-color: #3a3a3c;
    border: 2px solid #3a3a3c;
}
